#body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background: white;
    font-weight: 500;
    width: 530px;
    height: 400px;
    display: grid;
    grid-template-rows: 20% 30% 50%;
    grid-auto-columns: 15% 70% 15%;
    grid-gap: 5px;
    grid-template-areas:
            "header header header"
            "inputs inputs inputs"
            "outputs outputs outputs";
}

#header {
    grid-area: header;
    text-align: center;
}

#list {
    grid-area: list;
}

.listItem {
    margin: 5px;
}

#inputs {
    grid-area: inputs;
}

#outputs {
    grid-area: outputs;
    grid-column-start: 2;
    width: 80%;
    padding: 5px;
    margin-bottom: 15px;
    background: #FFFFFF;
    height: max-content;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.24), 0 3px 4px 0 rgba(0,0,0,0.19);
}

#jiraLink {
    margin-bottom: 5px;
    padding: 5px 8px;
    border: 1px solid #999;
    width: 239px;
}

#download {
    margin-top: 14px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: white;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    margin: 4px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.button:hover {
    background-color: #e7e7e7;
    border-color: black;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info {
    margin: 0 15px 0 5px;
    background: #FFFFCC;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 8px 12px 0 rgba(0,0,0,0.19);
}