body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #2E2D3B;
    color: white;
    font-weight: 500;
    width: 780px;
    height: 600px;
    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-auto-columns: 15% 70% 15%;
    grid-gap: 5px;
    grid-template-areas:
            "header header header"
            "inputs inputs inputs"
            "outputs outputs outputs";
}

h1 {
    font-weight: bold;
    font-size: 24px;
}

#header {
    grid-area: header;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

#inputs {
    grid-area: inputs;
    grid-column-start: 2;
    grid-column-end: 3;
}

#outputs {
    grid-area: outputs;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0 80px;
    height: max-content;
    margin-bottom: 15px;
    background: #3D3C4A;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease;
}

#outputs:hover {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.24), 0 16px 25px 0 rgba(0,0,0,0.19);
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.info {
    transition: all 0.5s ease;
    padding: 10px;
    background: #B160C7;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 8px 12px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.info:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 8px 12px 0 rgba(0,0,0,0.19);
    animation-name: infoHover;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes infoHover {
    0%     {background-color:#B160C7;}
    20.0%  {background-color:#9260C7;}
    50.0%  {background-color:#7360C7;}
    70.0%  {background-color:#9260C7;}
    100.0%  {background-color:#B160C7;}
}

.icon {
    width: 16px;
    height: 16px;
    filter: invert(1);
}